/*button start*/
.btn-black {
  @apply inline-flex items-center justify-center
  rounded-md text-sm font-medium transition-colors
  focus-visible:outline-none
  disabled:pointer-events-none bg-black relative
  text-white hover:bg-black/80 px-4 py-2 w-full #{!important}
}

.btn-white {
  @apply inline-flex items-center border
  font-medium shadow-sm focus:outline-none text-gray-700 border-gray-300
  bg-white hover:bg-gray-50 px-4 py-2 text-sm rounded-md #{!important}
}

.btn-loading {
  @apply text-transparent after:animate-[spinner_1s_ease_infinite]
  after:content-[''] after:absolute after:w-[25px] after:h-[25px]
  after:right-0 after:top-0 after:left-0 after:bottom-0 after:m-auto after:border-t-transparent
  after:rounded-full after:border-4 after:border-white after:border-solid #{!important}
}

.btn-sm{
  @apply px-2 py-1 text-sm #{!important}
}

/*button end*/
/*form related start*/
.input {
  @apply w-full rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2;
}
.input-no-border {
  @apply w-full rounded-md border-0 px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2;
}

/*form related start*/

/*alert*/
.alert {
  @apply w-full border text-white text-sm rounded-md p-4 flex items-center justify-between;
  &.danger {
    @apply bg-red-500;
  }

  &.success {
    @apply bg-green-500;
  }

  &.info {
    @apply bg-cyan-500;
  }
}

[role=tooltip].popup-content {
  width: auto!important;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(243 244 246 / 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(215, 216, 217);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(191, 192, 192);
}